<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
    <link href="../css/index.css" rel="stylesheet"></link>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/2.6.0/vue-router.js"></script>
</head>

<body>
    <header>
        <h1>header</h1>
    </header>

    <!--<div class="container">-->

<script src="../js/shuxing.js"></script>
<style>
    * {
        box-sizing: border-box;
    }
    
    .class1 {
        background: #f87;
        color: #fff;
    }
    
    .active {
        width: 100px;
        height: 100px;
        background: #dfe;
    }
    
    .changebac {
        background: #3cc;
    }
</style>
<div id="app" class="container">
    <!--属性-->
    <div class="checkbox">
        <label>
            <input type="checkbox" value="" v-model='class1'>
            <span class="label label-info">点击修改</span>
        </label>
        <div v-bind:class="{' class1 ':class1 }">
            example example example
        </div>
    </div>

    <!--表达式-->
    {{345+3}}<br> {{ok?'yes':'no'}}
    <br> {{msg.split('').join('')}}
    <br>
    <div v-bind:id="'list-'+di">
        id name
    </div>

    <!--v-if & v-else & v-else-if-->
    <p v-if='seen'>see me now</p>
    <template v-if='ok'>
        <pre><h1>title1</h1><h2 v-show='math>0.5'>title2</h2></pre>
    </template>
    <div v-if='math>0.5'>
        <span class="label label-success">{{math}}</span>
    </div>
    <div v-else>
        <span class="label label-danger">{{math}}</span>
    </div>
    <div v-if='msg === "a"'>
        <span class="label label-info">输出a</span>
    </div>
    <div v-else-if='msg == "b"'>
        <span class="label label-info">输出b</span>
    </div>
    <div v-else-if='msg == "c"'>
        <span class="label label-info">输出c</span>
    </div>
    <div v-else>
        <span class="label label-info">{{msg}}</span>
    </div>

    <!--参数-->
    <pre><a v-bind:href='url' target="_blank">link</a></pre>

    <!--双向绑定-->
    <input type="" name="" value="" v-model='msg'>
    <p>{{msg | capitalize}}</p>

    <!--循环 v-for-->

    <ul class="list-group">
        <li class="list-group-item" v-for='(value,key,index) in mylist'>{{index+1}}.{{key}}:{{value}}</li>
        <li class="list-group-item" v-for='n in 2' v-text='n'></li>
    </ul>

    <!--计算属性-->
    <template>
        <p>原始{{msg}}</p>
        <p>翻转{{rev}}</p>
        <p>{{link}}</p>
    </template>

    <!--样式绑定-->
    <!--<div v-bind:class='{active:di,changebac:ok}'>-->
    <div v-bind:class='[activeClass,changebac]'>
        <div class="label label-warning" v-bind:style="{color:activeColor,fontSize:di+'px'}">Label</div>
        <div class="label" v-bind:style="style">Label</div>
    </div>

    <!--事件处理器-->
    <template>
        <button type="button" class="btn btn-default" @click="counter += 1" v-alert1>button</button>
        <pre>这个按钮被点击了{{counter}}次</pre>
        <button type="button" class="btn btn-default" @click="show('hei')">button</button>
        <button type="button" class="btn btn-default" @click="show('hello')">button</button>
    </template>

    <!--事件修饰符-->
    <template>
        <input class="btn btn-danger" v-on:keyup.enter='keyCode("enter")' v-focus>
        <input class="btn btn-default"v-on:keyup.alt.67='keyCode("alt.67")'>
    </template>

    <!--表单 单个复选框-->
    <template>
        <div class="input-group">
            <input type="text" class="form-control" id="" placeholder="Search" v-model.lazy.trim='msg1'>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">{{msg1}}</button>
            </span>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" id="" placeholder="Search" v-model.number='msg2'>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">{{msg2}}</button>
            </span>
        </div>
    </template>

    <!--表单 多个复选框-->
    <template>
        <p>复选框</p>
        <div class="checkbox">
            <label>
                <input id="checkout" type="checkbox" value="" v-model='checkbox'>
                {{checkbox}}
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input id="first" type="checkbox" value="first" v-model='checkoutname'>first input
            </label>
            <label>
                <input id="sec" type="checkbox" value="sec" v-model='checkoutname'>sec input
            </label>
            <label>
                <input id="thi" type="checkbox" value="thi" v-model='checkoutname'>thi input
            </label>
            <div>选中项为：{{checkoutname}}</div>
        </div>
    </template>

    <!--表单 单选框-->
    <template>
        <p>单选按钮</p>
        <div class="radio">
            <label>
                <input type="radio" name="" id="fistRadio" value="fistRadio" v-model='picked'>
                fistRadio
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="" id="secRadio" value="secRadio" v-model='picked'>
                secRadio
            </label>
        </div>
        <div>选中项为：{{picked}}</span>
    </template>

    <!--表单 select列表-->
    <select v-model='food' placeholder="请选择">
        <option value="">请选择</option>
        <option value="fir">水果</option>
        <option value="va">蔬菜</option>
    </select>
    <div>选中项为：{{food ? food:'无'}}</div>

    <!--自定义指令-->


</div>
<div id="dome" class="container">
    <!--组件-->
    <ruuoob></ruuoob>
</div>
<template id="aaa">
    <!--<h3 @click=show1()>标题3→{{msg}}</h3>-->
    <!--<h1>标题</h1>-->
    <ul>
        <li v-for='value in arr'>{{value}}</li>
        <!--<li>{{msg}}</li>-->
    </ul>
</template>
<div id="dome1">
    <button type="button" @click='a="aaa"' class="btn btn-info">aaa</button>
    <button type="button" @click='a="bbb"' class="btn btn-info">bbb</button>
    <component :is='a'></component>
</div>
<div id="example">
    <button @click="send">
      <span v-if="sendMsgDisabled">{{time+'秒后获取'}}</span>
      <span v-if="!sendMsgDisabled">send</span>
    </button>
</div>

<div></div>
<!--</div>-->
<h1>footer</h1>
</body>

</html>