@@include('include/header.html')

<div class="input-group">
    <input type="text" class="form-control" id="username" placeholder="Search">
    <span class="input-group-btn">
        <button id="sbm" type="button" class="btn btn-default">Go!</button>
    </span>
</div>

<div id="container">

</div>
<script>
    $(function() {
        $("#sbm").click(function() {
            var val = $("#username").val();
            console.log(val)
            $("#container").html(val)
        })
    })
</script>


@@include('include/footer.html')