/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-logo_white {
  background-image: url(../sprite.png);
  background-position: -1516px -1199px;
  width: 141px;
  height: 166px;
}
.icon-logo_white_h {
  background-image: url(../sprite.png);
  background-position: -1516px -1094px;
  width: 297px;
  height: 100px;
}
.icon-mediaAdd_icon {
  background-image: url(../sprite.png);
  background-position: -1662px -1199px;
  width: 160px;
  height: 81px;
}
.icon-navLitPointer {
  background-image: url(../sprite.png);
  background-position: -1871px -507px;
  width: 15px;
  height: 8px;
}
.icon-offical_qq {
  background-image: url(../sprite.png);
  background-position: -1516px 0px;
  width: 398px;
  height: 399px;
}
.icon-order-icon {
  background-image: url(../sprite.png);
  background-position: -1871px -449px;
  width: 32px;
  height: 32px;
}
.icon-point {
  background-image: url(../sprite.png);
  background-position: -1892px -486px;
  width: 12px;
  height: 12px;
}
.icon-point2 {
  background-image: url(../sprite.png);
  background-position: -1908px -449px;
  width: 6px;
  height: 6px;
}
.icon-post_title {
  background-image: url(../sprite.png);
  background-position: -1662px -1285px;
  width: 161px;
  height: 31px;
}
.icon-qiang_1 {
  background-image: url(../sprite.png);
  background-position: -710px -1370px;
  width: 350px;
  height: 340px;
}
.icon-qiang_2 {
  background-image: url(../sprite.png);
  background-position: -355px -1370px;
  width: 350px;
  height: 340px;
}
.icon-qiang_3 {
  background-image: url(../sprite.png);
  background-position: 0px -1370px;
  width: 350px;
  height: 340px;
}
.icon-qiang_4 {
  background-image: url(../sprite.png);
  background-position: -1516px -749px;
  width: 350px;
  height: 340px;
}
.icon-qiang_5 {
  background-image: url(../sprite.png);
  background-position: -1516px -404px;
  width: 350px;
  height: 340px;
}
.icon-qq {
  background-image: url(../sprite.png);
  background-position: -1871px -404px;
  width: 40px;
  height: 40px;
}
.icon-qr-mini {
  background-image: url(../sprite.png);
  background-position: -1871px -486px;
  width: 16px;
  height: 16px;
}
.icon-sprite {
  background-image: url(../sprite.png);
  background-position: 0px 0px;
  width: 1511px;
  height: 1365px;
}
